@use "./normalize.scss" as *;

$fontFamily: alipuhui, sans-serif;

html,
.wrapper,
body,
body > div:first-child {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

html,
body {
    overflow: hidden;
}

.wrapper {
    background-image: url("./Image/bg.png");
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}

.flowerIcon {
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    max-width: 20vw;
    max-height: 24vh;
    pointer-events: none;
    user-select: none;
}

.footerWrap {
    position: fixed;
    z-index: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-flow: row nowrap;
    width: 100%;
    &::after {
        content: "";
        width: 100%;
        position: absolute;
        left: 0;
        height: 37%;
        background-image: url("./Image/bg_footerBg.png");
        background-repeat: repeat-x;
        background-color: transparent;
        background-size: auto 100%;
        background-position: left top;
        z-index: 0;
        bottom: 0;
    }
}

.footerIcon {
    max-height: 25vh;
    max-width: 25vw;
    pointer-events: none;
    user-select: none;
    position: relative;
    z-index: 1;
}

.wrapper_body {
    padding: 20px;
    position: relative;
    z-index: 2;
}

.questionWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 100%;
    flex: 0 0 auto;
    margin-bottom: 40px;
}

.questionContent {
    color: #69504e;
    font-family: $fontFamily;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
}

.questionDes {
    color: #8b7b7a;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
}

.main {
    width: 100%;
    overflow: hidden;
}

.total {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    font-family: $fontFamily;
    color: #69504e;
    font-weight: 400;
    letter-spacing: 0.2px;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 8.5px;
}

.totalValue {
    color: #ff8a85;
    padding: 0 5px;
    flex: 0 0 auto;
}

.mainContainer {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: flex-start;
    width: calc(100% + 20px);
}

.item {
    flex: 0 0 auto;
    padding: 5px 9px;
    color: #69504e;
    letter-spacing: 0.2px;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16.5px;

    margin-right: 20px;
    transition: all 0.1s linear;
    cursor: pointer;
    background-color: #efdecc;

    border-image-slice: 8 6 6 7;
    border-image-width: 8px 6px 6px 7px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch;
    border-image-source: url("./Image/btn_border.png");
    border-style: solid;
    position: relative;

    &::after {
        content: url("./Image/btn_icon.png");
        position: absolute;
        right: -5px - 3px;
        bottom: -4.3px - 8px;
        z-index: 1;
    }
    &.active {
        background-color: #d2b4a0;
        color: #69504e;
        box-shadow: 0 0 3px #fff;
    }
}

.question {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #69504e;
    margin-bottom: 24px;
}

.blank {
    background-image: url("./Image/hr.png");
    background-size: 100% 100%;
    background-position: left center;
    background-color: transparent;
    background-repeat: no-repeat;
    height: 3px;
    width: 100%;
    margin-top: 44px - 16.5px;
    margin-bottom: 34px;
}
