@use "./normalize.scss" as *;

$fontFamily: alipuhui, sans-serif;

html,
.wrapper,
body,
body > div:first-child {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

html,
body {
    overflow: hidden;
}

.wrapper {
    background-color: #fff;
    background-image: url("./Image/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.question {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 100%;
    flex: 0 0 auto;
}

.questionContent {
    color: #583f21;
    font-family: $fontFamily;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
}

.questionDes {
    color: #bd8258;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
}

.main {
    width: 100%;
    overflow: hidden;
    margin-top: 40px;
}

.total {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    font-family: $fontFamily;
    color: #bd8258;
    font-weight: 400;
    letter-spacing: 0.2px;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 8.5px;
}

.totalValue {
    color: #ec120d;
    padding: 0 5px;
    flex: 0 0 auto;
}

.mainContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: flex-start;
    width: calc(100% + 20px);
}

.item_bg {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    width: calc(100% - 3px);
    left: 1.5px;
    height: 100%;
    top: 0;
}

@mixin ItemBgImage {
    object-fit: contain;
    object-position: center center;
    height: calc(100% - 2px);
    width: auto;
    flex: 0 0 auto;
}

.item_leftBg {
    @include ItemBgImage();
}

.item_rightBg {
    @include ItemBgImage();
}

.item_contentBg {
    flex: 1 1 auto;
    height: calc(100% - 4px);

    position: relative;
    transition: all 0.2s linear;
    &::before {
        content: "";
        width: calc(100% - 16px);
        height: calc(100% - 4px);
        background-color: #ffd083;
        position: absolute;
        top: 2px;
        transition: all 0.2s linear;
        left: 8px;
    }
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        border-image: url("./Image/item_content.png") 10 35;
        border-color: transparent;
        border-style: solid;
        border-width: 3px 9px;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        transition: all 0.2s linear;
        left: 0;
    }
}

.item {
    flex: 0 0 auto;
    padding: 8px 28px;
    color: #583317;
    letter-spacing: 0.2px;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16.5px;
    margin-right: 20px;
    transition: all 0.2s linear;
    cursor: pointer;
    opacity: 0.7;
    position: relative;
    background: #c32921;
    border-radius: 2px;
    &.active {
        opacity: 1;
        filter: drop-shadow(0px 2px 8px rgba(26, 26, 26, 0.08))
            drop-shadow(0px 2px 4px rgba(26, 26, 26, 0.03));
        .item_contentBg {
            &::after {
                border-image: url("./Image/item_contentActive.png") 10 35;
            }
            &::before {
                background-color: #ffbd12;
            }
        }
    }
}

.itemContent {
    position: relative;
    z-index: 10;
}
