.floating_button {
    position: fixed;
    bottom: 24px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    z-index: 10;
}

@mixin button {
    flex: 0 0 auto;
    background: #ffffff;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #0c2d64;
    cursor: pointer;
    box-sizing: border-box;
}

.toTop_button {
    margin-right: 16px;
    @include button();
}

.toBottom_button {
    @include button();
}

.bottom_triangle {
    transform: rotate(180deg);
    margin-top: 3px;
}

.top_triangle {
    margin-bottom: 3px;
}
